* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  height: 5rem;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
  display: block;
  transition-duration: 0.4s;
}

main {
  display: flex;
}

button {
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 2px 10px;
  border-color: black;
  transition-duration: 0.4s;
  border: solid black;
}

button:hover {
  background-color: white;
  color: black;
}

.userDeleteBtn {
  height: 2rem;
  position: absolute;
  right: 0.6rem;
  top: 0px;
  border-radius: 5px;
}

.story-delete-btn {
  border-radius: 10px;
  padding: px 10px;
  height: 2.5rem;
  width: 5rem;
  margin-top: 6px;
  position: absolute;
  right: 9rem;
}

.story-like-btn {
  border-radius: 10px;
  padding: 10px 10px;
  height: 2.5rem;
  width: 5rem;
  margin-top: 6px;
  position: absolute;
  right: 2rem;
}

.like-btn {
  background-color: #4caf50;
  border: #4caf50 solid;
}

.like-btn:hover {
  color: #4caf50;
}

.dislike-btn {
  background-color: #f44336;
  border: #f44336 solid;
}

.new-user-btn {
  border-radius: 10px;
  width: 18rem;
  height: 2rem;
  margin: 10px;
  margin-bottom: 5px;
}

.dislike-btn:hover {
  color: #f44336;
}

.userStory {
  border: 2px solid;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 0rem 1rem 1.5rem 1rem;
}

.userStoryTitle {
  font-size: medium;
  padding: 1rem 0rem 1rem 0rem;
}

.storyHead {
  display: flex;
}

.userList {
  height: 150vh;
  border: 2px solid black;
  border-radius: 10px;
  display: block;
  overflow-y: scroll;
  scroll-margin-right: 10px;
  margin: 10px;
}

.userList::-webkit-scrollbar {
  width: 1rem;
}

.userList::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}

.userContainer {
  position: relative;
  width: 17rem;
  display: block;
}

.userListItem {
  height: 2rem;
  width: 13rem;
  margin: 1rem;
  text-align: center;
  border: 1.5px solid;
  border-radius: 10px;
  position: relative;
  border-color: black;
  transition-duration: 0.4s;
  display: block;
  background-color: white;
  color: black;
}

.userListItem:hover {
  background-color: black;
  color: white;
}
.userListItem a {
  display: block;
  padding: 5px;
  border-radius: 10px;
  height: 2rem;
  width: 10rem;
}

.selected {
  background-color: black;
  color: white;
}

.create-user-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
}

.create-user-form label {
  text-align: left;
  display: block;
}

.create-user-form input,
.create-user-form textarea {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  resize: none;
  transition-duration: 0.4s;
}
.create-user-form textarea {
  height: 10rem;
}

.create-user-form input:focus,
.create-user-form textarea:focus {
  outline: none !important;
  /* border: 1px solid black; */
  box-shadow: 0 0 10px black;
}

.create-btn {
  border-radius: 5px;
  height: 2rem;
  width: 10rem;
}

.home-btn {
  border-radius: 5px;
  height: 2rem;
  width: 5rem;
  margin-top: 20px;
  margin-left: 20px;
}

.bio-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.user-detail-head {
  display: flex;
}

.new-story-btn {
  border-radius: 15px;
  width: 10rem;
  height: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
